.top-bar {
  padding: 1rem 0;
}

.btn-light {
  background-color: #fff;
  border-color: #dee2e6;
  color: #212529;
}

.btn-light:hover {
  border-color: #c1c9d0;
  color: $primary;

  i {
    color: $primary;
  }
}

.btn-light i {
  color: #9da1a7;
}
